body {
    background-color: #14141f; 
    color: #f5f5f5; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #ffd700; /*Gold shade, because favourite color*/
}

.converter {
    border: 2px solid #ffd700; 
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    background-color: #1e1e2f; 
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

select {
    width: 100%; 
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #f5f5f5; 
    border-radius: 5px;
    background-color: #1e1e2f;
    color: #ffffff;
}

input[type="number"] {
    width: 100%; 
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    background-color: #1e1e2f;
    color: #ffffff;
}

button {
    background-color: #ffd700; 
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: transparent; 
    color: #ffd700; 
    border: 2px solid #ffd700; 
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #00bcd4; /*teal blue*/
}

.prices {
    border: 2px solid #ffd700; 
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    background-color: #1e1e2f; 
}

.prices ul {
    list-style-type: none;
    padding: 0;
}

.prices li {
    padding: 5px 0;
    font-size: 16px;
    color: #ffffff;
}